@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ORGANIC EIRL</h1>
        <p class="lead">
            Organic EIRL, requiere un sistema web de toma pedidos para su fuerza móvil de ventas. Tu como
            profesional SENIOR en desarrollo de software has sido contratado para realizar una aplicación
            que apoye en la operación. Para esto se requiere que apliques las mejores prácticas de desarrollo
            de software para crear la mejor solución posible.
            .
        </p> 
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">PRODUCTOS</h2>
            <p>
                1. Código del Producto
                2. Descripción del Producto
            </p>
          </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">CLIENTES</h2>
            <p>
                1. Código del Cliente
                2. Nombre y Apellido del Cliente
                3. DNI 
            </p>
         </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">PEDIDOS</h2>
            <p>

                1. Id de la orden
                2. Fecha de la orden
                3. Código del cliente
                4. Precio total de la orden

            </p>
         </section>
    </div>
</main>